
@media only screen and (max-width: 900px) {
    body {
        background-color: white;
        padding: 2px;
        flex-direction: column;
    }

    .alert-info {
        background-color: #ccffff;
        display: flex;
        justify-content: center;
        border: 2px solid #cccccc;
        padding: 1em;
        font-family: 'Roboto Mono', monospace;
        font-size: xx-small;
    }

    .alert-info a:link{
        text-decoration: none;
        color: black;

    }

    h1 {
        display: flex;
        justify-content: center;
        margin: auto;
        padding-top: .1em;
        font-size: 40px;
    }

    li {
        background-color: silver;
        margin: 10px 0;
        padding: 15px 0;
        list-style-type: none;
        text-align: center;
        font-size: larger;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    .nav-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .header-img{
        display: flex;
        justify-content: center;
    }

    img {
        width: 100%;
        display: flex;
    }

    .sub-section {
        font-style: italic;
        margin-bottom: 4em;
    }

    footer{
        display: flex;

    }
    footer p{
        float:left;
        margin: 0;
    }
    #social-media-links{
        margin-left: auto;
    }
}


@media only screen and (min-width: 900px) {
    body {
        flex-direction: row;
    }

    .alert-info{
        display:none;
    }

    li {
        margin: 10px 10px 10px 10px;
        padding: 10px 10px 10px 10px;
        list-style-type: none;
        font-size: larger;
    }

    li a:link {
        font-family: 'Open Sans', sans-serif;
    }

    .nav-links {
        float: right;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 30px;
    }

    nav {
        width: 100%
    }

    h1 {
        float: left;
        font-size: 70px;
        margin-top: 15px;
    }

    .header-img {
        display: flex;
        width: 100vw;
        margin-right: 1em;
    }

    img {
        width: 100%;
        padding-right: 3em;
    }

    .main{
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1;
        width:65%
    }

    .sub-section{
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: column;
        flex: 1;
        width:30%;
        float: right;
        font-style: italic;
        padding-right: 1em;

    }

    footer{
        display: flex;
        margin-top: 250px;

    }

    footer p{
        float:left;
        margin: 0;
    }

    #social-media-links{
        margin-left: auto;
        padding-right: 1em;
    }
}


